<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- Pojo Declaration -->
	<bean id="user1" class="pojo.User">
		<property name="username" value="salvatore" />
		<property name="password" value="loria" />
		<property name="dataRegistrazione" value="10/12/2010 18:34:31" />
	</bean>

	<bean id="user2" class="pojo.Amministratore">
		<property name="username" value="andrea" />
		<property name="password" value="martire" />
		<property name="dataRegistrazione" value="10/12/2010 18:34:31" />
		<property name="banner" value="mioBannerPath" />
		<property name="googleMap" value="miaMappaPath" />
	</bean>

	<bean id="user3" class="pojo.Cliente">
		<property name="username" value="ciccio" />
		<property name="password" value="pasticcio" />
		<property name="dataRegistrazione" value="10/12/2010 18:34:31" />
	</bean>

	<!-- Data Source Declaration -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/ecommerceDB" />
		<property name="username" value="root" />
		<property name="password" value="asd" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="pojo" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>

	<bean id="userDao" class="dao.UserHibernateDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="recapitoDao" class="dao.RecapitoHibernateDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="indirizzoDao" class="dao.IndirizzoHibernateDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="metodoSpedizioneDao" class="dao.MetodoSpedizioneHibernateDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

</beans>

<!-- JUNK -->

<!-- <bean id="recapitoDao" class="dao.RecapitoHibernateDao"> -->
<!-- 		<property name="sessionFactory" ref="sessionFactory" /> -->
<!-- 	</bean> -->
<!-- Dao Declaration -->
<!-- <bean id="userDao" class="dao.UserJdbcDao"> -->
<!-- <property name="jdbcTemplate" ref="jdbcTemplate" /> -->
<!-- </bean> -->
<!-- <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"> -->
<!-- <property name="dataSource" ref="dataSource" /> -->
<!-- </bean> -->