<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- Data Source Declaration -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/ecommerceDB" />
		<property name="username" value="root" />
		<property name="password" value="asd" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="pojo" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>

	<bean id="userDao" class="dao.UserHibernateDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="recapitoDao" class="dao.RecapitoHibernateDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="indirizzoDao" class="dao.IndirizzoHibernateDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="aziendaDao" class="dao.AziendaHibernateDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="privatoDao" class="dao.PrivatoHibernateDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="tipoSpedizioneDao" class="dao.TipoSpedizioneHibernateDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="modalitaPagamentoDao" class="dao.ModalitaPagamentoHibernateDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="ordineDao" class="dao.OrdineHibernateDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>