@CHARSET "UTF-8";
BODY {
/* 	background-color: #F5F6CE; */
	width: 950px; /*la larghezza dell’elemento*/
	margin: auto; /*margine destra e sinistra in modo automatico*/ 
}

FONT {
	color: #FF8000;
}

img {
	vertical-align:middle;
}

a:link {
/* 	color: #CC6600; */
	text-decoration:none;
}

a:visited {
/* 	color: #CC6600; */
	text-decoration:none;
}

a:active {
	background-color: yellow;
/* 	font-weight: bold; */
	text-decoration:none;
}

a:hover {
	color: #FF8000;
/* 	font-weight: bold; */
	cursor: pointer;
	text-decoration:none;
}

#carrelloTable {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	width: 615px;
	border-spacing: 0px 5px;
}

#carrelloTable td {
	font-size: 12pt;
	border: 1px solid green;
	padding: 3px 7px 2px 7px;
}

#carrelloTable tfoot {
	font-size: 12pt;
	background-color: orange;
	text-align: right;
}

#carrelloTable thead {
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: orange;
	color: black;
}


#ordiniTable {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	width: 615px;
	border-spacing: 0px 5px;
}

#ordiniTable td {
	text-align: center;
	font-size: 12pt;
	border-bottom: 1px solid green;
	border-top: 1px solid green;
	padding: 3px 7px 2px 7px;
}

#ordiniTable thead {
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: orange;
	color: black;
}


#spedTable {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	width: 615px;
	border-spacing: 0px 5px;
}

#spedTable td {
	font-size: 12pt;
	border: 1px solid #6699FF;
	padding: 3px 7px 2px 7px;
}

#spedTable tfoot {
	font-size: 12pt;
	background-color: #66FFFF;
	text-align: right;
}

#spedTable thead {
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #D1F0FF;
	color: #3366CC;
}


#totaleDiv {
	width: 615px;
	border: 1px solid green;
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	background-color: #FF9900;
}

/* horizontal menu */
.menu {
	width: 950px;
	background-color: #F7CB33;
	padding-bottom: 13px;
	padding-top: 13px;
	float: right;
	font: bold 13px Verdana;
/* 	margin-top: 5px; */
/* 	margin-bottom: 5px; */
}

.menu a {
	overflow: auto; /*force hasLayout in IE7 */
	text-decoration: none;
	color: #FFFFFF;
	padding: 13px;
	color: #000000;
}

.menu a:link, .menu a:visited, .menu a:active {
	background-color: #F7CB33;
}
.menu a:hover {
	background-color: #F01E1E;
}
/* end */

/* vertical menu */
.sidebarmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font: 13px Verdana;
	width: 130px; /* Main Menu Item widths */
	border-bottom: 1px solid #ccc;
}

.sidebarmenu ul li {
	position: relative;
}

/* Top level menu links style */
.sidebarmenu ul li a {
	display: block;
	overflow: auto; /*force hasLayout in IE7 */
/* 	color: #CC6600; */
	color: black;
	text-decoration: none;
	padding: 6px;
	border: 1px solid #778;
}

.sidebarmenu ul li a:link,.sidebarmenu ul li a:visited,.sidebarmenu ul li a:active {
/* 	background-color: #F5F6CE; background of tabs (default state) */
	background-color: #D0D0D0;
}

.sidebarmenu ul li a:hover {
	background-color: #CC6600;
	color: white; /*font color*/
}

/*Sub level menu items */
.sidebarmenu ul li ul {
	position: absolute;
	width: 130px; /*Sub Menu Items width */
	top: 0;
	visibility: hidden;
}

.sidebarmenu a.subfolderstyle {
	background: url(../images/right.gif) no-repeat 97% 50%;
}

/* Holly Hack for IE \*/
* html .sidebarmenu ul li {
	float: left;
	height: 1%;
}

* html .sidebarmenu ul li a {
	height: 1%;
}
/* End */